# Environment variables
.env
.env.*

# Private keys
private.key
public.key
*.key
privatekey
publickey
wg-flyio.conf
kitu-mikrotik-wg-client.conf

# Dependencies
node_modules/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
